@font-face {
	font-family: 'Catan';
	src: url('/static/fonts/pink-bunny.2.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Garamond';
	src: url('/static/fonts/EB-Garamond/EBGaramond-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
